<h1>Sign in </h1>
<%= form_for @conn, Routes.session_path(@conn, :create), [as: :session], fn f -> %>
  <%= label f, :username, placeholder: "username" %>
  <%= text_input f, :username %>
  <%= label f, :password %>
  <%= password_input f, :password, placeholder: "password" %>
  <%= submit "Sing in" %>
<% end %>